/* heebo-100 - hebrew_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Heebo";
  font-style: normal;
  font-weight: 100;
  src: url("assets/fonts/heebo-v21-hebrew_latin-100.eot"); /* IE9 Compat Modes */
  src: url("assets/fonts/heebo-v21-hebrew_latin-100.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("assets/fonts/heebo-v21-hebrew_latin-100.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("assets/fonts/heebo-v21-hebrew_latin-100.woff") format("woff"),
    /* Modern Browsers */ url("assets/fonts/heebo-v21-hebrew_latin-100.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("assets/fonts/heebo-v21-hebrew_latin-100.svg#Heebo") format("svg"); /* Legacy iOS */
}
/* heebo-200 - hebrew_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Heebo";
  font-style: normal;
  font-weight: 200;
  src: url("assets/fonts/heebo-v21-hebrew_latin-200.eot"); /* IE9 Compat Modes */
  src: url("assets/fonts/heebo-v21-hebrew_latin-200.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("assets/fonts/heebo-v21-hebrew_latin-200.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("assets/fonts/heebo-v21-hebrew_latin-200.woff") format("woff"),
    /* Modern Browsers */ url("assets/fonts/heebo-v21-hebrew_latin-200.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("assets/fonts/heebo-v21-hebrew_latin-200.svg#Heebo") format("svg"); /* Legacy iOS */
}
/* heebo-300 - hebrew_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Heebo";
  font-style: normal;
  font-weight: 300;
  src: url("assets/fonts/heebo-v21-hebrew_latin-300.eot"); /* IE9 Compat Modes */
  src: url("assets/fonts/heebo-v21-hebrew_latin-300.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("assets/fonts/heebo-v21-hebrew_latin-300.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("assets/fonts/heebo-v21-hebrew_latin-300.woff") format("woff"),
    /* Modern Browsers */ url("assets/fonts/heebo-v21-hebrew_latin-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("assets/fonts/heebo-v21-hebrew_latin-300.svg#Heebo") format("svg"); /* Legacy iOS */
}
/* heebo-regular - hebrew_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/heebo-v21-hebrew_latin-regular.eot"); /* IE9 Compat Modes */
  src: url("assets/fonts/heebo-v21-hebrew_latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("assets/fonts/heebo-v21-hebrew_latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("assets/fonts/heebo-v21-hebrew_latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("assets/fonts/heebo-v21-hebrew_latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("assets/fonts/heebo-v21-hebrew_latin-regular.svg#Heebo") format("svg"); /* Legacy iOS */
}
/* heebo-500 - hebrew_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Heebo";
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/heebo-v21-hebrew_latin-500.eot"); /* IE9 Compat Modes */
  src: url("assets/fonts/heebo-v21-hebrew_latin-500.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("assets/fonts/heebo-v21-hebrew_latin-500.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("assets/fonts/heebo-v21-hebrew_latin-500.woff") format("woff"),
    /* Modern Browsers */ url("assets/fonts/heebo-v21-hebrew_latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("assets/fonts/heebo-v21-hebrew_latin-500.svg#Heebo") format("svg"); /* Legacy iOS */
}
/* heebo-600 - hebrew_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Heebo";
  font-style: normal;
  font-weight: 600;
  src: url("assets/fonts/heebo-v21-hebrew_latin-600.eot"); /* IE9 Compat Modes */
  src: url("assets/fonts/heebo-v21-hebrew_latin-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("assets/fonts/heebo-v21-hebrew_latin-600.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("assets/fonts/heebo-v21-hebrew_latin-600.woff") format("woff"),
    /* Modern Browsers */ url("assets/fonts/heebo-v21-hebrew_latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("assets/fonts/heebo-v21-hebrew_latin-600.svg#Heebo") format("svg"); /* Legacy iOS */
}
/* heebo-700 - hebrew_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Heebo";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/heebo-v21-hebrew_latin-700.eot"); /* IE9 Compat Modes */
  src: url("assets/fonts/heebo-v21-hebrew_latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("assets/fonts/heebo-v21-hebrew_latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("assets/fonts/heebo-v21-hebrew_latin-700.woff") format("woff"),
    /* Modern Browsers */ url("assets/fonts/heebo-v21-hebrew_latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("assets/fonts/heebo-v21-hebrew_latin-700.svg#Heebo") format("svg"); /* Legacy iOS */
}
/* heebo-800 - hebrew_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Heebo";
  font-style: normal;
  font-weight: 800;
  src: url("assets/fonts/heebo-v21-hebrew_latin-800.eot"); /* IE9 Compat Modes */
  src: url("assets/fonts/heebo-v21-hebrew_latin-800.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("assets/fonts/heebo-v21-hebrew_latin-800.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("assets/fonts/heebo-v21-hebrew_latin-800.woff") format("woff"),
    /* Modern Browsers */ url("assets/fonts/heebo-v21-hebrew_latin-800.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("assets/fonts/heebo-v21-hebrew_latin-800.svg#Heebo") format("svg"); /* Legacy iOS */
}
/* heebo-900 - hebrew_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Heebo";
  font-style: normal;
  font-weight: 900;
  src: url("assets/fonts/heebo-v21-hebrew_latin-900.eot"); /* IE9 Compat Modes */
  src: url("assets/fonts/heebo-v21-hebrew_latin-900.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("assets/fonts/heebo-v21-hebrew_latin-900.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("assets/fonts/heebo-v21-hebrew_latin-900.woff") format("woff"),
    /* Modern Browsers */ url("assets/fonts/heebo-v21-hebrew_latin-900.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("assets/fonts/heebo-v21-hebrew_latin-900.svg#Heebo") format("svg"); /* Legacy iOS */
}
